//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include "keys_nb.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5

&mt {
    quick-tap-ms = <175>;
    global-quick-tap;
    flavor = "balanced";
    tapping-term-ms = <280>;
    require-prior-idle-ms = <150>;
    hold-trigger-on-release;
    hold-trigger-key-positions = <32 33 34 35 36 37 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            key-positions = <12 11>;
            bindings = <&kp ESC>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        BraceOpen {
            bindings = <&kp NB_LEFT_BRACE>;
            key-positions = <27 28>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        BraceClose {
            bindings = <&kp NB_RIGHT_BRACE>;
            key-positions = <29 28>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        BracketOpen {
            bindings = <&kp NB_LEFT_BRACKET>;
            key-positions = <27 28>;
            layers = <1>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        BracketClose {
            bindings = <&kp NB_RIGHT_BRACKET>;
            key-positions = <28 29>;
            layers = <1>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        ParentOpen {
            bindings = <&kp NB_LEFT_PARENTHESIS>;
            key-positions = <16 17>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        ParentClose {
            bindings = <&kp NB_RIGHT_PARENTHESIS>;
            key-positions = <17 18>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        CrocOpen {
            bindings = <&kp NB_LESS_THAN>;
            key-positions = <17 16>;
            layers = <1>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        CrocClose {
            bindings = <&kp NB_GREATER_THAN>;
            key-positions = <17 18>;
            layers = <1>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        Underscore {
            bindings = <&kp NB_UNDERSCORE>;
            key-positions = <26 15>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        Hat {
            bindings = <&kp NB_CARET>;
            key-positions = <15 5>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        plus {
            bindings = <&kp NB_PLUS>;
            key-positions = <6 16>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        minus {
            bindings = <&kp NB_MINUS>;
            key-positions = <16 27>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        Star {
            bindings = <&kp NB_STAR>;
            key-positions = <7 17>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        Equal {
            bindings = <&kp NB_EQUAL>;
            key-positions = <24 13>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        Pipe {
            bindings = <&kp NB_PIPE>;
            key-positions = <18 29>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        Ampersand {
            bindings = <&kp NB_AMPERSAND>;
            key-positions = <18 8>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        Dollar {
            bindings = <&kp NB_DOLLAR>;
            key-positions = <3 13>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        Percent {
            bindings = <&kp NB_PERCENT>;
            key-positions = <4 14>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        Gaming {
            bindings = <&gaming 5 0>;
            key-positions = <21 22>;
            layers = <0 5>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        FwdSlash {
            bindings = <&kp NB_SLASH>;
            key-positions = <17 28>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
            layers = <0>;
        };

        BwdSlash {
            bindings = <&kp NB_BACKSLASH>;
            key-positions = <12 23>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        HashTag {
            bindings = <&kp NB_HASH>;
            key-positions = <2 12>;
            require-prior-idle-ms = <150>;
            layers = <0>;
            timeout-ms = <20>;
        };

        At {
            bindings = <&kp NB_AT_SIGN>;
            key-positions = <1 11>;
            require-prior-idle-ms = <150>;
            layers = <0>;
            timeout-ms = <20>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <24 23>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
            layers = <0>;
        };

        Tilde {
            bindings = <&kp NB_TILDE>;
            key-positions = <14 25>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        Trophy {
            bindings = <&kp NB_GRAVE>;
            key-positions = <22 11>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <2 1>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        Delete {
            bindings = <&kp DELETE>;
            key-positions = <8 7>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        MouseLayer {
            bindings = <&tog 6>;
            key-positions = <8 6>;
            layers = <0>;
            require-prior-idle-ms = <150>;
            timeout-ms = <20>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <12 13>;
            timeout-ms = <20>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        Delete2 {
            bindings = <&kp DELETE>;
            key-positions = <3 2>;
            timeout-ms = <20>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        Home {
            bindings = <&kp HOME>;
            key-positions = <22 24>;
            layers = <0>;
            timeout-ms = <20>;
            require-prior-idle-ms = <150>;
        };
    };

    macros {
        gif: gif {
            label = "giphy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp N2>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp G &kp I &kp F>;
        };
    };

    behaviors {
        gaming: gaming {
            compatible = "zmk,behavior-hold-tap";
            label = "GAMING";
            #binding-cells = <2>;
            bindings = <&to>, <&to>;

            tapping-term-ms = <175>;
            flavor = "balanced";
        };

        mmQuestionExplemation: mmQuestionExplemation {
            compatible = "zmk,behavior-mod-morph";
            label = "MMQUESTIONEXPLEMATION";
            bindings = <&kp NB_QUESTION>, <&kp NB_EXCLAMATION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mmquote: mmquote {
            compatible = "zmk,behavior-mod-morph";
            label = "MMQUOTE";
            bindings = <&kp NB_SQT>, <&kp NB_DOUBLE_QUOTES>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        backspace_layerswitch: backspace_layerswitch {
            compatible = "zmk,behavior-tap-dance";
            label = "BACKSPACE_LAYERSWITCH";
            #binding-cells = <0>;
            bindings = <&lt 3 BACKSPACE>, <&kp BACKSPACE>;
        };

        testbeh: testbeh {
            compatible = "zmk,behavior-hold-tap";
            label = "TESTBEH";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            quick-tap-ms = <150>;
        };

        bmt: bmt {
            compatible = "zmk,behavior-hold-tap";
            label = "BMT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "balanced";
            quick-tap-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     F     ┃     P     ┃     G     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     ;     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃   ┃     H     ┃     N     ┃     E     ┃     I     ┃     O     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     Q     ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     K     ┃     M     ┃     ,     ┃     .     ┃     /     ┃     \     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    DEL    ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃           ┃   BSPC    ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
                &kp Q               &kp W           &kp F           &kp P             &kp B        &kp J                      &kp L             &kp U               &kp Y           &mmquote
                &mt LGUI A          &mt LALT R      &mt LCTRL S     &mt LSHFT T       &kp G        &kp M                      &mt LEFT_SHIFT N  &mt LEFT_CONTROL E  &mt LEFT_ALT I  &mt RGUI O
&kp LEFT_SHIFT  &mt LEFT_CONTROL Z  &mt LEFT_ALT X  &kp C           &kp D             &kp V        &kp K                      &kp H             &kp NB_COMMA        &kp NB_DOT      &mmQuestionExplemation  &backspace_layerswitch
                                                    &lt 2 LEFT_ALT  &testbeh 2 SPACE  &lt 1 TAB    &bmt LEFT_SHIFT BACKSPACE  &lt 4 ENTER       &lt 4 BACKSPACE
            >;
        };

        Num {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "L_NUM";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃           ┃           ┃     UP    ┃           ┃     {     ┃   ┃     }     ┃     7     ┃     8     ┃     9     ┃     +     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃   SHIFT   ┃   LEFT    ┃    DOWN   ┃   RIGHT   ┃     [     ┃   ┃     ]     ┃     4     ┃     5     ┃     6     ┃     -     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃           ┃   P UP    ┃  C LOCK   ┃  P DOWN   ┃     (     ┃   ┃     )     ┃     1     ┃     2     ┃     3     ┃     *     ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃    TAB    ┃    SPC    ┃   ┃    DEL    ┃     0     ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
        &trans      &trans     &kp NB_N7  &kp NB_N8  &kp NB_N9    &trans  &trans         &trans          &trans     &trans
        &kp PERIOD  &kp COMMA  &kp NB_N4  &kp NB_N5  &kp NB_N6    &trans  &kp NB_A_RING  &kp NB_O_SLASH  &kp NB_AE  &trans
&trans  &trans      &kp NB_N0  &kp NB_N1  &kp NB_N2  &kp NB_N3    &trans  &kp PAGE_DOWN  &kp PAGE_UP     &trans     &trans  &trans
                               &trans     &trans     &trans       &trans  &trans         &trans
            >;
        };

        FKEYS {
            bindings = <
        &trans     &kp F12  &kp F7  &kp F8  &kp F9    &bt BT_CLR    &trans        &trans        &trans        &trans
        &kp ENTER  &kp F11  &kp F4  &kp F5  &kp F6    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans     &kp F10  &kp F1  &kp F2  &kp F3    &trans        &trans        &trans        &trans        &trans        &trans
                            &trans  &trans  &trans    &trans        &trans        &trans
            >;
        };

        Symbols {
            bindings = <
           &kp NB_TILDE  &kp NB_DOLLAR      &kp NB_LEFT_BRACE        &kp NB_RIGHT_BRACE        &kp NB_AT               &kp NB_PLUS        &kp NB_ASTERISK  &kp NB_PIPE       &kp NB_QUESTION      &trans
           &kp NB_COLON  &kp NB_SEMICOLON   &kp NB_LEFT_PARENTHESIS  &kp NB_RIGHT_PARENTHESIS  &kp NB_DOUBLE_QUOTES    &kp NB_MINUS       &kp NB_EQUAL     &kp NB_AMPERSAND  &kp NB_EXCLAMATION   &kp NB_PERCENT
&kp LCTRL  &kp NB_GRAVE  &kp NB_APOSTROPHE  &kp NB_LEFT_BRACKET      &kp NB_RIGHT_BRACKET      &kp NB_SQT              &kp NB_UNDERSCORE  &kp NB_HASH      &kp NB_LESS_THAN  &kp NB_GREATER_THAN  &kp NB_SLASH    &trans
                                            &trans                   &trans                    &trans                  &trans             &trans           &trans
            >;
        };

        Brightness_System {
            bindings = <
        &trans  &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP   &none     &trans          &trans          &trans          &trans        &trans
        &trans  &trans      &kp C_STOP         &kp C_PLAY_PAUSE  &none     &kp C_MENU_ESC  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT
&trans  &trans  &trans      &kp C_PREV         &kp C_NEXT        &trans    &trans          &kp INSERT      &kp HOME        &trans        &trans     &trans
                            &trans             &trans            &trans    &trans          &trans          &trans
            >;
        };

        Gaming {
            bindings = <
         &kp M      &kp Q  &kp W       &kp E         &kp R           &trans  &trans  &trans  &trans  &trans
         &kp LSHFT  &kp A  &kp S       &kp D         &kp F           &trans  &trans  &trans  &trans  &trans
&kp TAB  &kp LCTRL  &kp Z  &kp NB_X    &kp C         &kp V           &trans  &trans  &trans  &trans  &trans  &trans
                           &kp ESCAPE  &kp LEFT_ALT  &kp NB_SPACE    &trans  &trans  &trans
            >;
        };

        Mouse {
            bindings = <
        &trans  &trans     &trans     &trans     &trans    &trans        &trans          &kp PAGE_UP     &kp PAGE_DOWN  &trans
        &trans  &mkp MCLK  &mkp LCLK  &mkp RCLK  &trans    &trans        &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP   &mmv MOVE_RIGHT
&trans  &trans  &trans     &trans     &trans     &trans    &trans        &trans          &trans          &trans         &trans           &trans
                           &trans     &to 0      &to 0     &msc SCRL_UP  &msc SCRL_DOWN  &trans
            >;

            label = "L_MOUSE";
        };
    };
};
